body {
    background: black;
}

div.main_content { 
    background: white;
    color: black;   
    width: 400px;
    height: 300px;
    border: 3px solid green;
    text-align: center;
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
}

input.required {   
    color: green;
    font-size:20px;     
}

input.ingress {
    cursor: pointer;
}

