body {
    background: white;
}

div.main{ 
    color: green;   
    width: auto;
    height: 5px;
    margin-left: 105px;
    font-size:20px; 
    padding: 50px;
}

img#img_login{
    width:200px;
    height:231px;
    padding:0 40px;
}


div.main_content{ 
    color: black;   
    width: auto;
    height: 5px;
    margin-left: 405px;
    font-size:22px; 
    padding: 250px;
}

input.required {   
    color: green;
    font-size:20px;         
}

input.ingress {
    cursor: pointer; 
    width:75px;
    padding: 4px;
    margin-top: 30px;
    margin-left: 100px;   
}

div.header {
    width: auto;    
    margin-top: 50px;
    background-image: url(http://www.arqhys.com/construccion/fotos/construccion/Clases-de-muros-300x225.png) 
}

div#login{
    text-align: right;
    height: 50px;
}

a.box{
    color: green; 
    width:auto;
    height: 5px;
    float:left;
    margin-left: 105px;
    padding: 30px;
}

footer{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    background:none repeat scroll 0 0 black;
    bottom:0;
    left:0;
    clear:both;
    margin-top:10px;
    padding:5px 5px;
    position: left;
    width:100%;
    height:50px;
    text-align:center;
    border-top: 5px solid green;
    font-size:14px;
    color: red;
}

img#img_inicio{
    width:200px;
    height:131px;
    padding:65px 190px;
}

div.inicio_info{
    width:auto;
    height:auto;
    font-size:18px;
    padding:37px 290px;
}

div.botonera{
    width:600px;
    height:100px;
    padding:0px;
    padding-left: 250px;
    text-align: center;
}

div.botonera_peq{
    width:600px;
    height:100px;
    padding-left: 250px;
    padding-bottom: 700px; 
    text-align: center;
}


div.titulo_secundario{
    width:auto;
    height:auto;
    font-size:18px;
    padding:15px 290px;
}

div.estudiante_info{
    width:auto;
    height:auto;
    font-size:18px;
    padding:25px 290px;
    text-align: center;
}

h2#title_notice{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:32px;
    color: blue;
}

h3#title_main{
    font-family:"Helvetica",Trebuchet, Arial, Helvetica, sans-serif;
    font-size:20px;
    color: white;
}

td#checkbox{
    text-align: center;
    vertical-align: center;
}

button{
   width:75px;
   padding: 4px;
   margin-top: 50px;
   margin-left: 100px;
}

/*estilo para formulario*/

div.float{
    float: left;
    padding: 50px 100px; 
}

form#info{
    width:auto;
    height:auto;
    padding: 50px 150px; 
    float: left;
    margin: 0px;
}

div.principal_float{
    float: left; 
    width:1300px;
    height:300px;
    margin-left: 100px;
    margin-top: 20px;
}


img#img_formulario{
    float: right;
    width:400px;
    height:231px;
    padding-top: 100px;
    padding-right: 270px;
}

div#button{
    padding-top: 40px;
}

div#button_Proyecto{
    width:auto;
    height:auto;
    float: left;
    padding-left: 30px; 
    padding-top: 100px;
}


form#proyecto_N{
    width:auto;
    height:auto;
    padding: 187px 150px; 
    float: left;
    margin: 0px;
}

textarea.texarea{
    resize:none;
}
 