body {
    background: white;
}

div.main{ 
    color: green;   
    width: auto;
    height: 5px;
    margin-left: 105px;
    font-size:20px; 
    padding: 50px;
}

input.required {   
    color: green;
    font-size:20px;     
}

input.ingress {
    cursor: pointer;
}

div.header {
    width: auto;    
    margin-top: 50px;
    background-image: url(http://www.arqhys.com/construccion/fotos/construccion/Clases-de-muros-300x225.png) 
}

div#login{
    text-align: right;
    height: 50px;
}

a.box{
color: green; 
width:auto;
height: 5px;
float:left;
margin-left: 105px;
padding: 30px;
}

footer{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
background:none repeat scroll 0 0 black;
bottom:0;
left:0;
clear:both;
margin-top:10px;
padding:5px 5px;
position: left;
width:100%;
height:50px;
text-align:center;
border-top: 5px solid green;
font-size:14px;
color: red;
}

img#img_inicio{
width:200px;
height:131px;
padding:65px 190px;
}

div.inicio_info{
width:auto;
height:auto;
font-size:18px;
padding:65px 290px;
}

div.estudiante_info{
width:auto;
height:auto;
font-size:18px;
padding:65px 290px;
}

h2#title_notice{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:32px;
color: blue;
}

h3#title_main{
font-family:"Helvetica",Trebuchet, Arial, Helvetica, sans-serif;
font-size:20px;
color: white;
}

td#checkbox{
    text-align: center;
    vertical-align: center;
}

button{
   width:75px;
   padding: 4px;
   margin-top: 50px;
   margin-left: 100px;
}
